@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #020617;
  color: white;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.shiny-text {
  color: var(--base-color);

  background-image: linear-gradient(110deg,
      var(--base-color) 35%,
      var(--shine-color) 50%,
      var(--base-color) 65%);

  background-size: 250% 100%;
  background-position: 100% 0;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shiny-text-animation var(--shine-speed) linear infinite;
}

@keyframes shiny-text-animation {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}